* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 16px;
    background: #217070;
    border: 1px solid #000;
    padding-top: 16px;
    padding-bottom: 16px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.image {
    width: 100px;
    border: 1px solid black;
}

.url_head {
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000;
}

.url {
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000;
}

.url_head:hover {
    font-size: 20px;
    color: #fff;
    background-color: #217070;
}

.form {

    max-width: 420px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.form h2 {
    text-align: center;
    tab-size: 35px;
}

.form input {
    padding: 10px;
    font-size: 23px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid #d7d7d7;

}

.form button {
    background: green;
    color: white;
    padding: 16px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
}

.footer {
    display: flex;
    align-content: flex-start;
    justify-content: right;
    background-color: #aeb3b5;
    height: 110px;
    justify-content: space-around;
    align-items: center;
}

.fa {
    font-size: 50px;
    color: rgb(29, 89, 219);
}

.fa-odnoklassniki {
    color: orange;
}

.fa-facebook {
    color: blue;
}



.lp {
    width: 100px;
    height: 100px;
}

.lp__drops,
.lp__fall-line,
.lp__worm {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: 64px 64px;
}

.lp__drops {
    animation-name: drops;
    animation-timing-function: ease-in-out;
    stroke-dasharray: 22 307.85 22;
    visibility: hidden;
    transform: rotate(90deg);
}

.lp__fall-line {
    animation-name: fallLine1;
    animation-timing-function: ease-in;
    stroke-dasharray: 1 112;
    stroke-dashoffset: 114;
}

.lp__fall-line--delay1 {
    animation-name: fallLine2;
}

.lp__fall-line--delay2 {
    animation-name: fallLine3;
}

.lp__fall-line--delay3 {
    animation-name: fallLine4;
}

.lp__fall-line--delay4 {
    animation-name: fallLine5;
}

.lp__ring {
    stroke: hsla(var(--hue), 90%, 5%, 0.1);
    transition: stroke 0.3s;
}

.lp__worm {
    animation-name: worm;
    stroke-dasharray: 43.98 307.87;
    stroke-dashoffset: -131.94;
    transform: rotate(-90deg);
}

/* Animtions */
@keyframes drops {
    from {
        animation-timing-function: steps(1, end);
        stroke-dasharray: 0 351.85 0;
        visibility: hidden;
    }

    25% {
        animation-timing-function: ease-in-out;
        stroke-dasharray: 0 351.85 0;
        visibility: visible;
    }

    26% {
        stroke-dasharray: 4 343.85 4;
    }

    27% {
        stroke-dasharray: 8 335.85 8
    }

    28% {
        stroke-dasharray: 12 327.85 12;
    }

    29% {
        animation-timing-function: ease-in;
        stroke-dasharray: 17 317.85 17;
    }

    32% {
        animation-timing-function: ease-out;
        stroke-dasharray: 25 301.85 25;
    }

    35%,
    47.5% {
        animation-timing-function: linear;
        stroke-dasharray: 22 307.85 22;
        visibility: visible;
    }

    50% {
        animation-timing-function: steps(1, end);
        stroke-dasharray: 0 307.85 43.98;
        visibility: hidden;
    }

    75% {
        animation-timing-function: ease-in-out;
        stroke-dasharray: 0 351.85 0;
        visibility: visible;
    }

    76% {
        stroke-dasharray: 4 343.85 4;
    }

    77% {
        stroke-dasharray: 8 335.85 8
    }

    78% {
        stroke-dasharray: 12 327.85 12;
    }

    79% {
        animation-timing-function: ease-in;
        stroke-dasharray: 17 317.85 17;
    }

    82% {
        animation-timing-function: ease-out;
        stroke-dasharray: 25 301.85 25;
    }

    85%,
    97.5% {
        animation-timing-function: linear;
        stroke-dasharray: 22 307.85 22;
        visibility: visible;
    }

    to {
        stroke-dasharray: 43.98 307.85 0;
        visibility: hidden;
    }
}

@keyframes fallLine1 {

    from,
    15% {
        stroke-dashoffset: 114;
    }

    25%,
    65% {
        stroke-dashoffset: 1;
    }

    75%,
    to {
        stroke-dashoffset: -112;
    }
}

@keyframes fallLine2 {

    from,
    16% {
        stroke-dashoffset: 114;
    }

    26%,
    66% {
        stroke-dashoffset: 1;
    }

    76%,
    to {
        stroke-dashoffset: -112;
    }
}

@keyframes fallLine3 {

    from,
    17% {
        stroke-dashoffset: 114;
    }

    27%,
    67% {
        stroke-dashoffset: 1;
    }

    77%,
    to {
        stroke-dashoffset: -112;
    }
}

@keyframes fallLine4 {

    from,
    18% {
        stroke-dashoffset: 114;
    }

    28%,
    68% {
        stroke-dashoffset: 1;
    }

    78%,
    to {
        stroke-dashoffset: -112;
    }
}

@keyframes fallLine5 {

    from,
    19% {
        stroke-dashoffset: 114;
    }

    29%,
    69% {
        stroke-dashoffset: 1;
    }

    79%,
    to {
        stroke-dashoffset: -112;
    }
}

@keyframes worm {
    from {
        animation-timing-function: ease-out;
        stroke-dasharray: 87.96 307.87;
        stroke-dashoffset: -131.94;
    }

    25% {
        animation-timing-function: steps(1);
        stroke-dasharray: 87.96 307.87;
        stroke-dashoffset: -307.86;
    }

    25.01% {
        animation-timing-function: ease-in;
        stroke-dasharray: 43.98 307.87;
        stroke-dashoffset: -307.86;
    }

    50% {
        animation-timing-function: steps(1);
        stroke-dasharray: 43.98 307.87;
        stroke-dashoffset: -175.92;
    }

    50.01% {
        animation-timing-function: ease-out;
        stroke-dasharray: 87.96 307.87;
        stroke-dashoffset: -131.94;
    }

    75% {
        animation-timing-function: steps(1);
        stroke-dasharray: 87.96 307.87;
        stroke-dashoffset: 43.98;
    }

    75.01% {
        animation-timing-function: ease-in;
        stroke-dasharray: 43.98 307.87;
        stroke-dashoffset: 0;
    }

    to {
        stroke-dasharray: 43.98 307.87;
        stroke-dashoffset: -131.94;
    }
}