* {
    margin: 0;
    padding: 0;
}

.url_head {
    text-decoration: none;
    font-size: 25px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: #217070;
}

.header {
    background: #217070;
    height: 200px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.url_head:hover {
    font-size: 20px;
    color: #fff;
    background-color: #217070;
}

.footer {
    display: flex;
    align-content: flex-start;
    justify-content: right;
    background-color: #aeb3b5;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.fa {
    font-size: 50px;
    color: rgb(29, 89, 219);
}

.fa-odnoklassniki {
    color: orange;
}

.fa-facebook {
    color: blue;
}